// Body
$body-bg: #fafafe;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #2d234e;
$pink: #fe7f9b;
$red: #ff0038;
$orange: #f6993f;
$yellow: #fece28;
$green: #38c172;
$teal: #29d9c4;
$cyan: #8ab7ff;
$bluish-grey: #7d7d8d;
$bluish-grey-light: #dcdef1;
$bluish-grey-dark: #444455;
$purple-light: #4b3e75;

$primary:       $purple;
$secondary:     $bluish-grey;
$success:       $teal;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $bluish-grey-light;
$dark:          $bluish-grey-dark;