@import 'variables';

:root {
    --body-font: $font-family-sans-serif;
    --normal-font-size: $font-size-base;
    --z-fixed: 1200;
}

body {
    position: relative;
    background-color: $body-bg;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}