[client]
default_character_set = utf8mb4

[mysql]
default_character_set = utf8mb4

[mysqld]
default_storage_engine = InnoDB
explicit_defaults_for_timestamp = 1
skip_name_resolve = 1

## Charset
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

## Fast SQL import
local_infile = 1
